:root {
  --main-bg-color: brown;
  --eye-size: 2;
}

.heading {
  font-family: monospace;
  font-weight: 700;
  font-size: large;
  padding: 8px;
}

.subheading {
  font-family: monospace;
  font-weight: 400;
  padding: 16px;
}

.selected {
  background-color: lightblue;
}

.eye-container {
  justify-content: center;
  gap: calc(var(--eye-size) * 1px);
  border: none;
  justify-content: flex-start;
  margin: calc(var(--eye-size) / 2 * -1px);
}

.image-container {
  width: -moz-max-content;
  width: max-content;
  border: none;
  justify-content: flex-start;
  margin-bottom: calc(var(--eye-size) * -1px);
}

.image-container2 {
  width: -moz-max-content;
  width: max-content;
  padding-left: calc(var(--eye-size) / 2 * 11px);
  border: none;
  justify-content: flex-start;
  margin-bottom: calc(var(--eye-size) * -1px);
}

.image-container img {
  margin-right: calc(var(--eye-size) * 1px);
  width: calc(var(--eye-size) * 11px);
  height: auto;
  image-rendering: pixelated;
  border: none;
}

.image-container2 img {
  margin-right: calc(var(--eye-size) * 1px);
  width: calc(var(--eye-size) * 11px);
  height: auto;
  image-rendering: pixelated;
  border: none;
}